* {
  margin: 0;
  padding: 0;
}

body {
  /* this is main body */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #606060;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.main-page-of-resume {
  /* this is main resume page */
  position: relative;
  background-color: #23272a;
  width: 595.28px;
  height: 841.89px;
  margin-top: 50px;
}
.left-side-area {
  /* this is main resume page left side layout part*/
  display: flex;
  position: relative;
  justify-content: center;
  height: 841.89px;
  width: 297.5745px;
  background-image: url("src/layout_svg/left_side_layout.svg");
  background-repeat: no-repeat;
  background-position: bottom;
}

.image-box {
  /* this is image box for profile picture */
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  height: 255.0851px;
  width: 220.0851px;
  background-color: white;
  border-radius: 36.894px;
  margin-top: 35px;
  border: 5pt solid #7fc357;
  background-image: url(src/images/profile.png);
  background-size: cover;
  background-position: center;
}
.left-side-details {
  /* this is main resume page right side details layout part */
  display: flex;
  height: 494.0426px;
  width: 220.0851px;
  margin-top: 320px;
  position: absolute;
  justify-content: space-evenly;
  flex-direction: column;
}

.About-Heading,
.Expertise-Heading,
.Contact-Me {
  /* these are headings for About, Expertise, and Contact-Me sections */
  color: #606060;
}
.About-Details,
.Expertise-Details,
.Contact-Details {
  /* these are headings details for About, Expertise, and Contact-Me */
  line-height: 20px;
  margin-left: 28px;
  font-weight: 500;
}

.Contact-Details {
  /* this is contact details */
  line-height: 25px;
  margin-left: 28px;
}

.icons {
  /* this is icons section */

  height: 100px;
  width: 23px;
  position: absolute;
  display: flex;
  justify-content: space-around;
  margin-left: -1px;
  margin-top: 374px;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
.icons img {
  display: flex;
  width: 18px;
  flex-direction: column;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.line-layout-part {
  display: flex;
  background-color: #7fc357;
  position: absolute;
  width: 3px;
  height: 131px;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  top: 60px;
  left: 10px;
}

.inside-box {
  /* this is inside box for skills */
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 7px;
  width: 7px;
  margin-top: 0px;
  background-color: #7fc357;
}
.right-side-bottom-layout {
  /* this is main resume page right side bottom layout part */
  position: absolute;
  width: 176.6809px;
  height: 70.4681px;
  background-image: url(src/layout_svg/right_side_layout.svg);
  background-repeat: no-repeat;
  bottom: 0;
  right: 0;
}

.right-side-details {
  /* this is main resume page right side layout part */
  display: flex;
  height: 794.0426px;
  width: 260.0851px;
  margin-top: 50px;
  position: absolute;
  justify-content: space-evenly;
  flex-direction: column;
  /* border-left: 1pt solid red; */
  margin-right: -295px;
  color: white;
}

.Eduction-heading {
  margin-top: 36px;
}
.main-person-name-heading {
  margin-top: 8px;
  font-size: 40pt;
  line-height: 51px;
}

.person-designation {
  font-size: 18.8pt;
  font-weight: 300;
  position: absolute;
  margin-top: -7px;
  
}

.year,
.position {
  font-size: 14.4pt;
  color: #7fc357;
 
}

.work-details3,
.work-details5 {
margin-left: 45px;

}

.work-details1 ,
.work-details4,
.Education-details1,
.Education-details2{

  margin-left: 25px;
}

.line-layout-part1 {
  display: flex;
  background-color: #7fc357;
  position: absolute;
  width: 2px;
  height: 55px;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  top: 232px;
  left: 2px;
}

.inside-box1 {
  /* this is inside box for skills */
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 7px;
  width: 7px;
  margin-top: 0px;
  background-color: #7fc357;
}

.line-layout-part2 {
  display: flex;
  background-color: #7fc357;
  position: absolute;
  width: 2px;
  height: 52px;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  top: 76px;
  left: 2px;
}

.inside-box2 {
  /* this is inside box for skills */
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 7px;
  width: 7px;
  margin-top: 0px;
  background-color: #7fc357;
}
.line-layout-part3 {
  display: flex;
  background-color: #7fc357;
  position: absolute;
  width: 2px;
  height: 132px;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  top: 127px;
  left: 3px;
}

.inside-box3 {
  /* this is inside box for skills */
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 7px;
  width: 7px;
  margin-top: 0px;
  background-color: #7fc357;
}

.line-layout-part4 {
  display: flex;
    background-color: #7fc357;
    position: absolute;
    width: 2px;
    height: 164px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    top: 162px;
    left: 3px;
}

.inside-box4 {
  /* this is inside box for skills */
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 7px;
  width: 7px;
  margin-top: 0px;
  background-color: #7fc357;
}